# Prevent interpretation as text and end-of-line conversions.
*.warc binary
*.pdf binary
*.gif binary
*.jpg binary
*.jp2 binary
*.jpx binary
*.tif binary
*.wav binary

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.html text
*.css text
