# Ignore Eclipse files
.project
.classpath
.settings

# Ignore IntelliJ files
.idea
**/*.iml

# Ignore Maven artefacts
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
**/pom.xml.versionsBackup

# Ignore GH Pages Gemfile
Gemfile.lock

# Ignore Test Root
test-root
