# Prevent interpretation as text and end-of-line conversions.
*.warc -text -diff binary
*.pdf -text -diff binary
*.gif -text -diff binary
*.jpg -text -diff binary
*.jp2 -text -diff binary
*.jpx -text -diff binary
*.tif -text -diff binary
*.wav -text -diff binary

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.html text
*.css text
