sudo: required
dist: trusty
language: ruby
rvm:
  - 2.3.3
script:
  - bundle exec jekyll build
  - bundle exec htmlproofer ./_site --file-ignore /javadoc/ --only-4xx --check-favicon --check-html
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
