---
title: JSTOR/Harvard Object Validation Environment
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<body role="document">

{% include navbar.html nav=site.data.navbar %}
<div class="container theme-showcase" role="main">
  <header class="jumbotron">
    <img src="img/jhovelogo.png" alt="JHOVE logo"/>
    <h2>Open source file format identification, validation &amp; characterisation</h2>
    <p class="lead">
      <a href="/getting-started#download" class="btn btn-outline-inverse btn-lg" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download 3.3.5');">Download JHOVE</a>
    </p>
    <p class="version">Currently v1.12.beta</p>
  </header>
  <main>
    <a class="name" name="implementation">
      <h2>Implementation</h2>
    </a>
    <p>
      JHOVE is implemented as a <a href="http://java.sun.com/">Java</a> application,
       written to conform to
      <a href="http://java.sun.com/j2se/">J2SE 1.4</a>, using the
      <a href="http://www.sun.com/">Sun</a>
      <a href="http://java.sun.com/j2se/1.4.1/">SDK 1.4.1</a>.
      JHOVE should be usable on any Unix, Windows, or OS X platform with an
      appropriate J2SE installation.
    </p>
    <p>
      JHOVE can be invoked with two interfaces:
    </p>
    <ol>
      <li>A <a href="using.html#invocation">command-line interface</a></li>
      <li>
        A <a href="http://java.sun.com/products/jfc/#swing">Swing</a>-based
        <a href="using.html#gui">GUI interface</a>
      </li>
    </ol>

    <a class="name" name="tutorial">
      <h2>Tutorial</h2>
    </a>
    <p>
      A tutorial on how to use JHOVE is <a href="using.html">available</a>.
    </p>

      </p>
    <a class="name" name="license">
      <h2>License</h2>
    </a>
    <p>
      JHOVE is made available by the
      <a href="http://openpreservation.org" title="Open Preservation Foundation home page.">Open
        Preservation Foundation</a>
      under the <a href="http://www.gnu.org/">GNU</a>
      <a href="http://www.gnu.org/licenses/licenses.html#LGPL">Lesser General Public
      License</a> (LGPL).
    </p>
    <p>
      Note that some previous versions of JHOVE were released under the
      <a href="http://www.gnu.org/">GNU</a>
      <a href="http://www.gnu.org/licenses/licenses.html#GPL">General Public
      License</a> (GPL).
    </p>
    <a class="name" name="acknowledgements">
      <h2>Acknowledgements</h2>
    </a>
    <p>
      The original versions of JHOVE were developed and made available by JSTOR
      and the President and Fellows of Harvard College.
    </p>
    <p>
      Development of JHOVE was funded in part by the
      <a href="http://www.mellon.org">Andrew W. Mellon Foundation</a>
      through a grant to <a href="http://www.jstor.org">JSTOR</a> for the
      <a href="http://www.ithaka.org/e-archive/">Electronic-Archiving Initiative</a>.
    </p>
  </main>
</div>
{% include footer.html %}
</body>
</html>
