---
title: JSTOR/Harvard Object Validation Environment
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<body role="document">

{% include navbar.html nav=site.data.navbar %}
<div class="container theme-showcase" role="main">
  <header class="jumbotron vertical-center">
    <img src="img/jhovelogo.png" alt="JHOVE logo"/>
    <h2>Open source file format identification, validation &amp; characterisation</h2>
    <a href="http://software.openpreservation.org/rel/jhove-latest.jar" class="btn btn-primary btn-lg pad" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download 3.3.5');" download>Download JHOVE</a>
  </header>
  <main>
    <a class="name" name="software">
      <h2>Software</h2>
    </a>
    <p class="version">Currently v1.26 09-06-2020</p>
    <p>Details of the latest release, including release notes <a href="https://github.com/openpreserve/jhove/releases/latest">can be found on GitHub</a>.</p>
    <p>
      JHOVE is a file format identification, validation and characterisation tool. It is implemented as a
      <a href="http://www.oracle.com/technetwork/java/index.html">Java</a>
      application and is usable on any Unix, Windows, or OS X platform with appropriate Java installation.
    </p>
    <p>
      <table>
        <thead>
          <tr>
            <th>Module</th>
            <th>Format</th>
            <th>Extension</th>
            <th>MIME</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AIFF-hul</td>
            <td>Audio Interchange File Format</td>
            <td>.aif</td>
            <td>audio/x-aiff</td>
          </tr>
        </tbody>
      </table>
    </p>
    <p>
      JHOVE supports two user interfaces:
    <ol>
      <li>A <a href="/getting-started#running">command-line interface</a></li>
      <li>
        A <a href="http://java.sun.com/products/jfc/#swing">Swing</a>-based
        <a href="/getting-started#gui">GUI interface</a>
      </li>
    </ol>

    <a class="name" name="getting-started">
      <h2>Getting started</h2>
    </a>
    <p>
      The <a href="/getting-started/">gettting started guide is on this site</a>.
    </p>
    <a class="name" name="license">
      <h2>License</h2>
    </a>
    <p>
      JHOVE is made available by the
      <a href="http://openpreservation.org" title="Open Preservation Foundation home page.">Open
        Preservation Foundation</a>
      under the <a href="http://www.gnu.org/">GNU</a>
      <a href="http://www.gnu.org/licenses/licenses.html#LGPL">Lesser General Public
      License</a> (LGPL).
    </p>
    <p>
      Note that some previous versions of JHOVE were released under the
      <a href="http://www.gnu.org/">GNU</a>
      <a href="http://www.gnu.org/licenses/licenses.html#GPL">General Public
      License</a> (GPL).
    </p>
      <h2>Mailing list</h2>
    <p>
      <a href="http://lists.openpreservation.org/listinfo/jhove">Subscribe</a> to the JHOVE mailing list.
    </p>
  </main>
</div>
{% include footer.html %}
</body>
</html>
