---
title: WAVE-hul Module
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<body role="document">

{% include navbar.html nav=site.data.navbar %}
<div class="container" role="main">

<h1>WAVE-hul Module</h1>


<h2>1 Introduction</h2>

<p>
  The WAVE-hul module recognizes and validates the Audio for Windows format 
  (WAVE) [<a href="/references#wave">WAVE</a>,
  <a href="/references#waveformat">WAVEFORMAT</a>]. WAVE is a variant of 
  the Microsoft RIFF format [<a href="/references#riff">RIFF</a>], which is 
  itself an implementation of the Electronic Arts IFF 85 format
  [<a href="/references#iff85">IFF</a>].
</p>

<p>
  The module can be invoked with the following command-line option:
</p>

<blockquote>
<pre>
  jhove ... -m WAVE-hul ...
</pre>
</blockquote>


<h2 id="coverage">2 Coverage</h2>

<p>
  The WAVE-hul module recognizes and validates the following public profiles:
</p>

<ul>
  <li>PCMWAVEFORMAT
      [<a href="/references#pcmwaveformat">PCMWAVEFORMAT</a>]</li>
  <li>WAVEFORMATEX
      [<a href="/references#waveformatex">WAVEFORMATEX</a>]</li>
  <li>WAVEFORMATEXTENSIBLE
      [<a href="/references#waveformatextensible">WAVEFORMATEXTENSIBLE</a>]</li>
  <li>EBU Technical Specification 3285,
      Broadcast Wave Format (BWF) version 0, 1 and 2
      [<a href="/references#bwf">BWF</a>,
      <a href="/references#bwf-1">BWF Supp 1</a>,
      <!--<a href="/references#bwf-2">BWF Supp 2</a>,-->
      <a href="/references#bwf-3">BWF Supp 3</a>,
      <a href="/references#bwf-4">BWF Supp 4</a>]
      <!--<a href="/references#bwf-5">BWF Supp 5</a>]--></li>
</ul>


<h2 id="well-formedness">3 Well-Formedness</h2>

<p>
  The following criteria must be met by a WAVE object for JHOVE to consider it 
  well-formed:
</p>

<ul>
  <li>Magic numbers: "RIFF" at byte offset 0; "WAVE" at offset 8</li>
  <li>All chunk structures are well-formed: a four ASCII character 
      <var>ID</var>, followed by a 32-bit signed integer <var>size</var>, 
      followed by a <var>size</var>-length data block (if <var>size</var> is
      odd, then the data block includes a final padding byte of 0x00)</li>
  <li>No data exist before the first byte of the chunk or after the last byte 
      of the last chunk</li>
</ul>


<h2 id="validity">4 Validity</h2>

<p>
  The following criteria must be met by a WAVE file for JHOVE to consider it
  valid:
</p>

<ul>
  <li>The file is well-formed</li>
</ul>


<h2 id="repinfo">5 Representation Information</h2>

<p>
  The MIME type is reported as: <code>audio/vnd.wave</code>.
</p>

<p>
  In addition to the standard JHOVE
  <a href="/documentation#repinfo">representation information</a>,
  the following WAVE-specific properties are reported:
</p>

<ul>
  <li>Property "WAVEMetadata" of type PROPERTY and arity ARRAY
    <ul>
      <li>Properties capturing the technical attributes of the WAVE
      image from all chunks</li>
      <li>...</li>
    </ul>
  </li>
</ul>

<p>
  The WAVE module recognizes the following chunks:
</p>

<ul>
  <li>"fmt " Format chunk (required)</li>
  <li>"fact" Fact chunk (required for non-PCM data)</li>
  <li>"data" Data chunk</li>
  <li>"cue " Cue chunk</li>
  <li>"labl" Label chunk</li>
  <li>"LIST" LIST chunks
    <ul>
      <li>"INFO" INFO List chunk</li>
      <li>"exif" Exif List chunk</li>
      <li>"adtl" Associated Data List chunk</li>
    </ul>
  </li>
  <li>"list" Associated Data List chunk</li>
  <li>"note" Note chunk</li>
  <li>"smpl" Sampler chunk</li>
  <li>"inst" Instrument chunk</li>
  <li>"bext" Broadcast Audio Extension chunk
      [<a href="/references#bwf">BWF</a>]</li>
  <li>"mext" MPEG Audio Extension chunk
      [<a href="/references#bwf-1">BWF Supp 1</a>]</li>
  <!--<li>"qlty" Quality chunk
      [<a href="/references#bwf-2">BWF Supp 2</a>]</li>-->
  <li>"levl" Peak Envelope chunk
      [<a href="/references#bwf-3">BWF Supp 3</a>]</li>
  <li>"link" Link chunk
      [<a href="/references#bwf-4">BWF Supp 4</a>]</li>
  <!--<li>"axml" AXML chunk
      [<a href="/references#bwf-5">BWF Supp 5</a>]</li>-->
</ul>

<p>
  The WAVE module reports audio properties using the draft standard AES-X098B,
  <cite>Core audio metadata XML definition</cite>, developed by the
  <a href="http://www.aes.org/">Audio Engineering Society</a> (AES)
  <a href="http://www.aes.org/standards/b_policies/aessc-structure.cfm#SC-03">SC-03-06</a>
  Working Group on Digital Library and Archive Systems.
</p>


<h3>5.1 Profiles</h3>

<p>
  WAVE is a format for uncompressed or compressed sampled audio. The format is 
  defined informally by references to various Microsoft API data structures:
</p>

<ul>
  <li><a href="/references#waveformat">WAVEFORMAT</a></li>
  <li><a href="/references#pcmwaveformat">PCMWAVEFORMAT</a></li>
  <li><a href="/references#waveformatex">WAVEFORMATEX</a></li>
  <li><a href="/references#waveformatextensible">WAVEFORMATEXTENSIBLE</a></li>
</ul>

<p>
  The baseline <code>fmt</code> chunk is defined by the WAVEFORMAT structure 
  with a length of 14 bytes:
</p>

<blockquote>
<pre>
  WORD  wFormatTag
  WORD  nChannels
  DWORD nSamplesPerSec
  DWORD nAvgBytesPerSec
  WORD  nBlockAlign
</pre>
</blockquote>

<p>
  Where <code>WORD</code> indicates a 16-bit unsigned integer and
  <code>DWORD</code> indicates a 32-bit unsigned integer.
</p>

<p>
  The specific form of the sampled data is specified by the <code>fmt</code>
  chunk's <var>wFormatTag</var> field. For a list of registered
  <var>wFormatTag</var> values, see RFC 2361
  [<a href="/references#wave-codec">RFC 2361</a>].
</p>


<h4>PCMWAVEFORMAT</h4>

<p>
  This is an extension to the WAVEFORMAT profile in which the <code>fmt</code>
  chunk is defined by the PCMWAVEFORMAT structure with a length of 16 bytes
  [<a href="/references#pcmwaveformat">PCMWAVEFORMAT</a>]:
</p>

<blockquote>
<pre>
  WAVEFORMAT
  WORD  wBitsPerSample
</pre>
</blockquote>

<p>
  Profile requirements include:
</p>

<ul>
  <li><var>wFormatTag</var> = 0x0001</li>
</ul>


<h4>WAVEFORMATEX</h4>

<p>
  This is an extension to the PCMWAVEFORMAT profile supporting both PCM and
  non-PCM audio formats [<a href="/references#waveformatex">WAVEFORMATEX</a>].
  The <code>fmt</code> chunk is defined by the WAVEFORMATEX structure with a
  length ≥ 18 bytes:
</p>

<blockquote>
<pre>
  PCMWAVEFORMAT
  WORD  cbSize
</pre>
</blockquote>

<p>
  Profile requirements include:
</p>

<ul>
  <li><var>wFormatTag</var> ≠ 0xFFFE</li>
  <li>If <var>wFormatTag</var> = 0x0001 then
    <ul>
      <li><var>nAvgBytesPerSec</var> = <var>nSamplesPerSec</var>
          × <var>nBlockAlign</var> (recommended)</li>
      <li><var>nBlockAlign</var> = <var>nChannels</var>
          × <b>ceiling(</b><var>wBitsPerSample</var> / 8<b>)</b></li>
      <li><var>wBitsPerSample</var> = 8 or 16</li>
    </ul>
  </li>
</ul>


<h4>WAVEFORMATEXTENSIBLE</h4>

<p>
  This is the most recent version of the Microsoft WAVE format for audio
  sample data with greater than two channels or 16-bit sampling
  [<a href="/references#waveformatextensible">WAVEFORMATEXTENSIBLE</a>].
  The <code>fmt</code> chunk is defined by the WAVEFORMATEXTENSIBLE structure
  with a length ≥ 40 bytes:
</p>

<blockquote>
<pre>
  WAVEFORMATEX
  UNION samples   {
    WORD  wValidBitsPerSample
    WORD  wSamplesPerBlock
    WORD  wReserved
  }
  DWORD dwChannelMask
  GUID  subFormat {
    DWORD f1
    WORD  f2
    WORD  f3
    CHAR  f4[8]
  }
</pre>
</blockquote>

<p>
  Where <code>UNION</code> is a C-style union structure and <code>CHAR</code>
  is an 8-bit unsigned integer.
</p>

<p>
  Profile requirements include:
</p>

<ul>
  <li><var>wFormatTag</var> = 0xFFFE</li>
  <li><var>nBlockAlign</var> = <var>nChannels</var>
      × <b>ceiling(</b><var>wBitsPerSample</var> / 8<b>)</b></li>
  <li><var>wBitsPerSample</var> is a multiple of 8</li>
  <li><var>cbSize</var> &gt; 21</li>
  <li><var>wValidBitsPerSample</var> ≤ <var>wBitsPerSample</var></li>
</ul>


<h4>BWF</h4>

<p>
  Broadcast Wave Format is an extension of the WAVEFORMATEX profile, defined by
  the European Broadcast Union (EBU) as EBU Technical Specification 3285 and
  its supplements
  [<a href="/references#bwf">BWF</a>,
  <a href="/references#bwf-1">BWF Supp 1</a>,
  <a href="/references#bwf-2">BWF Supp 2</a>,
  <a href="/references#bwf-3">BWF Supp 3</a>,
  <a href="/references#bwf-4">BWF Supp 4</a>,
  <a href="/references#bwf-5">BWF Supp 5</a>,
  <a href="/references#bwf-6">BWF Supp 6</a>].
</p>

<p>
  Profile requirements include:
</p>

<ul>
  <li>"bext" chunk exists</li>
  <li>"fmt " chunk <var>wFormatTag</var> = 0x0001 or 0x0050</li>
  <li>If <var>wFormatTag</var> = 0x0050 then
    <ul>
      <li>"fact" chunk exists</li>
    </ul>
  </li>
</ul>


<h2>6 Additional Module Properties</h2>

<ul>
  <li>Nominal file extension: .wav</li>
  <li>Nominal file extension: .bwf</li>
</ul>

</div>
{% include footer.html %}
</body>
</html>
