    <p>
    For more information: jhove-support at hulmail.harvard.edu
    </p>
    <address>
    Copyright 2004-2005 by JSTOR and the President and Fellows of Harvard College. Used by permission.<br>
    Last updated 2005-05-09
    </address>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/js/docs.min.js"></script>
