---
title: Credits
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<body role="document">

{% include navbar.html nav=site.data.navbar %}
<div class="container theme-showcase" role="main">
<h1>Credits</h1>
<p>
  The original JHOVE project was a collaboration of
  <a href="http://www.jstor.org">JSTOR</a> and the
  <a href="http://hul.harvard.edu/">Harvard University Library</a>.
</p>
<p>
  Development of JHOVE was funded in part by the
  <a href="http://www.mellon.org">Andrew W. Mellon Foundation</a>
  through a grant to <a href="http://www.jstor.org">JSTOR</a> for the
  <a href="http://www.ithaka.org/e-archive/">Electronic-Archiving Initiative</a>.
</p>
</div>
    {% include footer.html %}

</body>
</html>
